h1, h2, p {
    font-family: 'Times New Roman', Times, serif;
    
}

h1, h2 {
    font-style: italic;
    text-align: center;
}

h1 {
    display: block;
    font-weight: lighter;
    font-size: 50px;
}

p {
    padding-left: .75em;
}

.small {
    width: 25%;
}

.medium {
    width: 50%;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.boxgrid {
    display: flex;
    border: solid;
    width: 100%;
    align-items: stretch;
}

.box {
    border: solid;
    border-width: 1px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    list-style-type: none;
}

.politics {
    background-color: yellow;
    
}

.technology {
    background-color: cyan;
}

.local {
    background-color: forestgreen;
}

.opinion {
    background-color: blue;
}

.sports {
    background-color: purple;
}

/*
display flexx
flex direction stretch maybe
make the title the same class
*/